<div
  class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700"
>
  <ul class="flex flex-wrap -mb-px">
    <li class="mr-2">
      <a
        (click)="setFilter(0, 'Pending')"
        class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        [ngClass]="
          active == 0
            ? 'text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500'
            : ''
        "
        >Pending</a
      >
    </li>
    <li class="mr-2" *ngIf="authService.current_user.role == 'Enterprise'">
      <a
        (click)="setFilter(1, 'Available')"
        class="inline-block p-4"
        [ngClass]="
          active == 1
            ? 'text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500'
            : ''
        "
        aria-current="page"
        >Available</a
      >
    </li>
    <li class="mr-2">
      <a
        (click)="setFilter(2, 'Approved')"
        class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        [ngClass]="
          active == 2
            ? 'text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500'
            : ''
        "
        >Approved</a
      >
    </li>
    <li class="mr-2">
      <a
        (click)="setFilter(3, 'Cancelled')"
        class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        [ngClass]="
          active == 3
            ? 'text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500'
            : ''
        "
        >Cancelled</a
      >
    </li>
  </ul>
</div>

<section class="container mx-auto p-6 font-mono">
  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600"
          >
            <th class="px-4 py-3" *ngIf="active != 1">
              {{
                getRole() == "Enterprise" ? "Title and customer" : "Enterprise"
              }}
            </th>
            <th class="px-4 py-3">Time</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr *ngFor="let time of timeSlots" class="text-gray-700">
            <td class="px-4 py-3 border" *ngIf="active != 1">
              <div class="flex items-center text-sm">
                <div class="relative w-8 h-8 mr-3 rounded-full md:block">
                  <img
                    class="object-cover w-full h-full rounded-full"
                    src="https://images.pexels.com/photos/5212324/pexels-photo-5212324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <p class="font-semibold text-black">{{ time.title }}</p>
                  <p class="text-xs text-gray-600">
                    {{
                      getRole() == "Enterprise"
                        ? time.customer.firstName + " " + time.customer.lastName
                        : time.userid.firstName
                    }}
                  </p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-ms font-semibold border">
              {{ time.date | date }} - {{ time.time }}
            </td>
            <td class="px-4 py-3 text-xs border">
              <span
                class="px-2 py-1 font-semibold leading-tight rounded-sm"
                [ngClass]="
                  time.info == 'Approved'
                    ? 'text-green-700 bg-green-100'
                    : time.info == 'Pending'
                    ? 'text-orange-700 bg-orange-100'
                    : 'text-cyan-700 bg-cyan-100'
                "
              >
                {{ time.info }}
              </span>
            </td>
            <td class="px-4 py-3 text-sm border">
              <span *ngIf="active == 0 && getRole() == 'Enterprise'"
                ><mat-icon (click)="validateTimeSlot(time.id)"
                  >done_all</mat-icon
                ></span
              >
              <mat-icon *ngIf="active != 2" (click)="deleteTimeSlot(time.id)"
                >close</mat-icon
              >
              <mat-icon *ngIf="active == 2" (click)="cancelTimeSlot(time.id)"
                >close</mat-icon
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
